* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--black);
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

p {
    font-size: 24px;
}


.header {
    padding: 20px 0px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between
    
}

.header h1 {
    align-self: center;
    font-size: 48px;
    margin-left 5%;
}
    

 .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
}

.hero {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/img/blankprofile.png");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

content {
   display: flex;
   flex-direction: column;
}

section h2 {
    border-right-style: solid;
    border-color: var(--black);
    border-width: 5px;
    min-width: 300px;
    font-size: 32px;
    text-align: right;
    padding: 10px 15px 30px;
    margin: 10px 20px;
    color: var(--black);
}

.about-me {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-me {
    display: inline-block;
    flex-wrap: wrap;
    margin-left: 25px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:var(--white);
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:var(--white);
}

.projects h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color:var(--white);
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:#ffffff;
}

.footer {
    
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.footer h2 {
    font-size: 36px;
}