* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* applies var to use for font color and background color*/
:root {
    --white: #ffffff;
    --black: #000000;
}

/* applies a scroll behavior*/
html {
    scroll-behavior: smooth;
}

/* styles the body section by applying colors and flex*/
body {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*applies font color to a tag*/
a {
    color: var(--white);
    text-decoration: none;
}

/*creates font size for all p tags*/
p {
    font-size: 36px;
}

/* creates rows for row class example project cards*/
.row {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    gap: 10px;
}

/* creates padding around header and adds flex*/
.header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;

}

/*styles the header nav links*/
.header nav ul {
    list-style-type: none;
    display: flex;
    text-decoration: none;
    gap: 10px;
}

/*adds flex to about me section*/
.about-me {
    align-self: flex-start;
    width: 100vw;
    padding-left: 16%;
}

/*adjusts to size of device for accessibility*/
@media screen and (max-width: 992px) {
    ul li {
        display: block;
        margin-right: 40px;
        margin-bottom: 5px;
    }

    content {
        flex-direction: column;
    }

}

 @media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    
    header nav {
        padding-top: 15px;
        margin-right: 0%;
    }
    
    ul li {
        font-size: 12px;
        margin: 5px 0px;
        text-align: center;
    }
   
} 
 


