* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 24px;
}

/*put classes in proper order so they would follow proper semantics*/ 
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: white;
}

 .header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/Assets/blankprofile.png");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color: black;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:#ffffff;
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:#ffffff;
}

.projects h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color:#ffffff;
}

.contact-me h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color:#ffffff;
}

.footer {
    
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

.footer h2 {
    font-size: 36px;
}